In [4]:
import os
import importlib

import pandas as pd
import numpy as np

In [48]:
# importing dymaic modules
from utils import preprocessing, io_files

importlib.reload(preprocessing)
importlib.reload(io_files)

In [2]:
dataset_file = "dataset/archive/AB_NYC_2019.csv"

In [41]:
df0 = pd.read_csv(dataset_file)
df0.head()


print("Dataset size:\n"
      f"\trows: {df0.shape[0]}\n"
      f"\tcolumns: {df0.shape[1]}")

Dataset size:
	rows: 48895
	columns: 16

In [42]:
display(df0.columns.tolist())

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

In [43]:
preprocessing.drop_irrelevant_cols(df0)
missing_data_info_df = preprocessing.find_missing_data_freq(df0)
display(missing_data_info_df)

                   Missing Data  % of Missing Data
last_review               10052              20.56
reviews_per_month         10052              20.56

In [44]:
# rows with missing last-review and reviews per month
df_missing_data = df0[df0.last_review.isna() | df0.reviews_per_month.isna()]

display(df_missing_data.head())

print("Missing data rows:", df_missing_data.shape[0])

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2,3647,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
19,7750,17985,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,249
26,8700,26394,Manhattan,Inwood,40.86754,-73.92639,Private room,80,4,0,NaN,NaN,1,0
36,11452,7355,Brooklyn,Bedford-Stuyvesant,40.68876,-73.94312,Private room,35,60,0,NaN,NaN,1,365
38,11943,45445,Brooklyn,Flatbush,40.63702,-73.96327,Private room,150,1,0,NaN,NaN,1,365

Missing data rows: 10052

In [45]:
unique_missing_data_hostid = df_missing_data.host_id.unique().tolist()
len(unique_missing_data_hostid)

8238

In [49]:
# rows having host_id from unique_missing_data_hostid and their number of missing data rows/ number of non-missing data rows
rows_missing_last_review_reviews_per_month = df0[df0.host_id.isin(unique_missing_data_hostid)]
rows_missing_last_review_reviews_per_month.head()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2,3647,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
19,7750,17985,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,249
26,8700,26394,Manhattan,Inwood,40.86754,-73.92639,Private room,80,4,0,NaN,NaN,1,0
28,9518,31374,Manhattan,Inwood,40.86482,-73.92106,Private room,44,3,108,2019-06-15,1.11,3,311
36,11452,7355,Brooklyn,Bedford-Stuyvesant,40.68876,-73.94312,Private room,35,60,0,NaN,NaN,1,365

In [50]:
io_files.export_as_csv(rows_missing_last_review_reviews_per_month, filename="Missing-review-info-hostid-collection.csv")

PosixPath('/media/tuhin/hdd/Documents/All_Python_Resources/AirBNB_DataAnalysis/utils/tmp/Missing-review-info-hostid-collection.csv')